[2017-06-20 02:07] zanhecht opened #1 "Doesn't work with 4-bit codes"
I have a weigand reader and have it hooked up and working on my arduino using the old weigand.h library. However, when I use this library I can scan cards of 26 or 32 bits it works fine, but when I try to use the pin pad, which returns 4-bit number, I get an output that just says:

In other words, it's returning the number of bits, but not the bits themselves.

[2017-06-20 04:18] jpliew commented on #1
I think there is a bug at line 10-12 in WiegandRawTest.ino

countedBits / 8 in your case 4 bits 4/8 to unsigned int is 0 which is not correct.

[code]

[2017-06-20 04:30] zanhecht commented on #1
That makes sense. Looks like changing (countedBytes % 8) to (countedBits % 8) fixes it.

[2017-06-22 02:19] jpliew commented on #1
Fixed by @zanhecht

[2017-06-22 02:19] #1 closed

[2018-03-10 23:51] Netoperz opened #3 "How to start wiegand on another pin than 2 and 3 configuring them form sketch , and why the output is splited and not correct on ESP32"
in the monkeyboard i could use

`void setup() { wg.begin(19, 21);`

and here it seems not working, in the example file i can't see initialization (i'm not a C guru thow)  so if question is stupid i'm sorry, but could you post here an example ? I try to get this working on esp 32

[2018-03-11 00:19] jpliew commented on #3
You can use this

[code]

[2018-03-11 01:01] Netoperz commented on #3
I'm testing right now.

I have got some problems with one of the keypads/readers.

The one I have that is 26 bit keypad/reader with 125khz card reader works perfectly for over a year on our test site in one of polish hotells, no problems at all (some problems with error corection on long cables 60m+ due to electric interference, so we have changed the structure of the system) but nothing to compla

[2018-03-11 01:22] Netoperz commented on #3
for now i have something like that:

Arduino IDE 1.8.5 windows 10 creators update lenovo x230
ESP32 DOIT Dev board v1

using the demo sketch form this library without modifications:

esptool.py v2.1
Connecting....
Chip is ESP32D0WDQ6 (revision 0)
Uploading stub...
Running stub...
Stub running...
Changing baud rate to 921600
Changed.
Configuring flash size...
Auto-detected Flash size: 4MB
Compresse

[2018-03-11 01:24] Netoperz commented on #3
the problem is not showing on other projects with the same setup (board, etc...) just when using the example and this lib.

[2018-03-11 01:26] jpliew commented on #3
Lets get back to your root problem first.

Missing keypress for 8 bit weigand right?

[2018-03-11 01:37] jpliew commented on #3
For this problem I think is a timing problem, and you need an oscilloscope. channel 1 of the scope to D1 and channel 2 of the scope to D0.

The press 1 2 3 4 5 on keypad very fast.

Screen capture the results and paste here.

[2018-03-11 01:39] exploitagency commented on #3
I feel like your board is crashing and resetting

Check for exceptions
Watch serial monitor
And view the stack trace if it crashes

I know ESP8266 for arduino had a malloc and an interrupt related bug that is fixed in 2.4.1.  Use esp8266 board manager 2.4.1

[2018-03-11 01:41] Netoperz commented on #3
Ok, so i have tested the lib and the example on Leonardo, and works fast as hell :) really good work guys.

So what may cause the problem on ESP32 ? does anybody tested this lib on ESP32 ? because if monkeyboard works this one should too.

[2018-03-11 01:43] Netoperz commented on #3
Exploitagency, thanks for suggestion, but i'm not working on ESP 8266 but on ESP32

[2018-03-11 01:49] Netoperz commented on #3
Jpliew, the problem is ESP32 I think, because the same keypad without any changes works just fine on leonardo with exaple from this repo.

I wanted to test the same example on ESP32 but as shown before it is crashing.

If the same keypad/reader has no problems with catching every key press, every tag every time on Arduino Leonardo (I always use the Leonardo as reference board when "strange things"

[2018-03-11 01:50] exploitagency commented on #3
I noticed and deleted comment.  But on ESP if a loop last too long without yield() ing to the wifi stack you can get a wdt reset.

[2018-03-11 02:00] Netoperz commented on #3
Main loop is empty, i'm using tasks for wiegand, wifi and all the functions with timers.

The question is, why that particular keypad has got problems, and other two types does not.
And why with WiegandNG example on Leonardo there is no problems.
And why I cannot flash this example.
As You see the example is compiling fine, but on esp32 board i have i cannot use GPIO3, it is absent. So that was wh

[2018-03-11 02:02] jpliew commented on #3
Let's ignore the java error first. This has nothing to do with the root problem. Go back to the original wiegand library and work from there.

The root problem is when using the original wiegand library
https://github.com/monkeyboard/Wiegand-Protocol-Library-for-Arduino

ESP32 intermittently misses key press configured as 8 bit wiegand.

1) I think this is a timing issue, ESP32 is running threads,

[2018-03-11 02:19] Netoperz commented on #3
Ok, I have redownloaded the lib ones again, and changed the pins in .cpp , compiled and flashed the example to my board, without problems.

It reads the key press every time, no delay, not loosing keypress,

But after 2 key preses

`Bits=9
RAW Binary=111000011
Bits=9
RAW Binary=110100110
CORRUPT HEAP: Bad head at 0x3ffc5410. Expected 0xabba1234 got 0x3ffc5594
assertion "head != NULL" failed: file

[2018-03-11 02:21] Netoperz commented on #3
When reading the tag the same, but after just firs read , and sometimes after second read

Bits=28
RAW Binary=1000110011111110100001000011
Bits=28
RAW Binary=1000110011111110100001000111
CORRUPT HEAP: Bad head at 0x3ffc5410. Expected 0xabba1234 got 0x3ffc5594
assertion "head != NULL" failed: file "/Users/ficeto/Desktop/ESP32/ESP32/esp-idf-public/components/heap/./multi_heap_poisoning.c", line 199,

[2018-03-11 02:27] Netoperz commented on #3
As You can see the bibary data is also wrong. that is key "1" pressed two times

Bits=10
RAW Binary=1111000011
Bits=9
RAW Binary=111100001
CORRUPT HEAP: Bad head at 0x3ffc5410. Expected 0xabba1234 got 0x3ffc5594
assertion "head != NULL" failed: file "/Users/ficeto/Desktop/ESP32/ESP32/esp-idf-public/components/heap/./multi_heap_poisoning.c", line 199, function: multi_heap_free
abort() was called at

[2018-03-11 02:42] Netoperz commented on #3
Also I have installed "clean version" of the Monkeyboard from repo, and compiled and flashed the example WiegandTest, and tis is the output from the same board, the same pinout, the same reader

Wiegand HEX = 6, DECIMAL = 6, Type W8
Wiegand HEX = 8, DECIMAL = 8, Type W8
Wiegand HEX = 2, DECIMAL = 2, Type W8
Wiegand HEX = 5, DECIMAL = 5, Type W8
Wiegand HEX = 5, DECIMAL = 5, Type W8
Wiegand HEX = 4

[2018-03-11 05:24] jpliew commented on #3
@Netoperz ,

For your information the monkeyboard library and WiegandNG were both written by me. WiegandNG was based on monkeyboard library but they are not the same. WiegandNG can handle unlimited bit length but monkeyboard library cannot. WiegandNG uses dynamic memory allocation but monkeyboard library uses static memory allocation.

I can type a very long explanation on the differences but this

[2018-03-11 13:19] Netoperz commented on #3
I need osciloscope, i'll get one or biuld one today :)
Because right now i do not have even those crappy toy-like osciloscope.

Ok, so we will focus on monkeyboard and timings.

I'll post what you ask .

[2018-03-11 23:03] Netoperz commented on #3
@jpliew
I have checked the firmware change log (because the problems started to show in last days) there was firmware upgrade in Roger keypads, and there was documented change in wiegand interface. It said that 1. Pulses on Wiegand output extended to 100us.

so i will change the `if ((sysTick - _lastWiegand) > 25)`
to higher value, and i will add a higher delay for my Wiegand worker task to give t

[2018-03-12 00:42] jpliew commented on #3
Adding a co processor will be last to consider. I think ESP32 is powerful enough to handle by itself.

The timing is more towards the pulse width not the 25 ms between pulses

First check if you can program your key pad to extend the 100us to longer.

If not,  search if there is an interrupt priority setting in the ESP32 RTOS. If you can increase the gpio pin priority, it might let the OS service

[2018-03-12 21:34] Netoperz commented on #3
![scope](https://user-images.githubusercontent.com/16330298/37310695-0ba0414a-2645-11e8-8324-d9b2fe73f41a.jpg)
![scope_white](https://user-images.githubusercontent.com/16330298/37310717-1a50b5b2-2645-11e8-95b2-fe4d0021cc8f.jpg)

I have catched the signal using very simple audioscope, so it is nothing near the real osciloscope, is it helpful ?

scope.jpg is output from reen D0, nad scope white is f

[2018-03-12 22:07] Netoperz commented on #3
Data for key pressed "1" on keypad

line D0:

![keypress_1-line_d0](https://user-images.githubusercontent.com/16330298/37312091-fcc56466-2649-11e8-9618-e8d5ee7224df.jpg)

Line D1:

![keypress_1-line_d1](https://user-images.githubusercontent.com/16330298/37312108-10fd8170-264a-11e8-9f58-d7e763f9d1fd.jpg)

[2018-03-12 22:47] jpliew commented on #3
Hi @Netoperz these results looks very noisy to me. You need a better scope and both channels running at the same time.

If you look at my image

![Wiegand](https://www.monkeyboard.org/images/tutorials/wiegand/wiegand-25ms-break.gif)

Bottom RED is D1 , top BLUE is D0

When the D0 and D1 aligned on the same timeline, you can see the result like this

10000100100111011100000110

Once you can see thi

[2018-03-12 23:01] Netoperz commented on #3
old
![keypress_1-line_d0-old_reader_zoom](https://user-images.githubusercontent.com/16330298/37313928-ab47c608-2651-11e8-99f2-bb452ee3a1f7.jpg)

new
![keypress_1-line_d0-new_reader_zoom](https://user-images.githubusercontent.com/16330298/37313940-b9c091ce-2651-11e8-8bf7-72abd8497cca.jpg)

[2018-03-12 23:17] jpliew commented on #3
@Netoperz both signals need to be in the same timeline, meaning your scope need to have 2 channels capturing at the same time. Please see my sample for reference.

Plus your signals were too noisy to determine anything.

[2018-03-12 23:19] Netoperz commented on #3
new reader high resolution

I understand that we are interested in those lower parts. first "tick" is slightly longer, and the rest has got the same lenght, and the time is shorter than on the old one, and in my opinion worse in quality as far as i can assume by watching it on home made oscylo(almoast)scope :)

![new_high_res](https://user-images.githubusercontent.com/16330298/37314348-e27b53e0-26

[2018-03-12 23:23] jpliew commented on #3
Hi @Netoperz if you see my image, I can clearly the D0 and D1 and interpret the image into data of 10000100100111011100000110

[2018-03-12 23:25] Netoperz commented on #3
I know why the new keypad may have problems. the signal is falling at the end of the pulse, that may cause the problem, and plus the voltage level converter is used to convert WIEGAND 5V signals to 3,3v logic.

I know how messy that looks, but I think that the pulse lenght of the old keypad is about 0,7 ms

and the pulse of the new keypad is about 0,5 ms

[2018-03-12 23:30] Netoperz commented on #3
I know what You are saing, and I uderstand You well, and a'm supproised that You are waisting your free time to help me (what is priceless and I'm both happy and glad to have such a support)

I wanted to buy Rigol long time ago, but wanted beautifull new one for 100 mhz or more for 4 channels ... and they cost a lot, so i was waiting and waiting, and now i regret that i haven't bought any even 2 c

[2018-03-12 23:42] jpliew commented on #3
@Netoperz

I am not sure if you are working on this project for commercial or for hobby.

If you are doing this for commercial, having a co-processor like ATmega328 is not a bad idea, it gives you the NATIVE support for the Arduino library.

If you are doing as hobby, just spend more time working on the following two options

1) Try talk to the new keypad's seller if they can change the pulse widt

[2018-03-13 00:10] Netoperz commented on #3
This is i hope going to be commercial if testing will show that it works. I would like to help in here by donating and testing as Your help is priceless. For now i'm ting different devices.

could you tell me how long the pulses should be in your opinion (and how long they are in the devices you were testing ?

And what is the gap between the end of the pulse and the next one  ?

Is there a place

[2018-03-13 00:14] jpliew commented on #3
Ok, now I am totally lost.

[2018-03-13 11:28] jpliew commented on #3
@Netoperz could you try edit the following and test using WiegandNG please?

In `WiegandRawTest.ino`

find

`void PrintBinary(WiegandNG tempwg)`

change to

`void PrintBinary(WiegandNG &tempwg)`

Upload the sketch to ESP32.

This should stop the heap crashing. Once it is not crashing, use the NEW keypad with WiegandNG

1) type 10 times No 1, capture and paste the result here

2) type 10 times No 2

[2018-03-14 21:34] Netoperz commented on #3
@jpliew

I'll try to do what you have told.

Second thing is that i have bougt a logic analizer from saleae, it's 8channel. so i'm just testing the output. I'll attach the data here. i think yopu could install their software (its free) and import file that i'll grab. there is everything you may need with timings and pulse time.

Sorry that it took so much time to get the tool but i had to order it

[2018-03-14 22:24] Netoperz commented on #3
old keypad-working
[old_keypad_working_24 MHz, 2 M Samples [54].zip](https://github.com/jpliew/Wiegand-NG-Multi-Bit-Wiegand-Library-for-Arduino/files/1813301/old_keypad_working_24.MHz.2.M.Samples.54.zip)

new kepad - not working
[new_keypad_not_working_24 MHz, 2 M Samples [55].zip](https://github.com/jpliew/Wiegand-NG-Multi-Bit-Wiegand-Library-for-Arduino/files/1813310/new_keypad_not_working_24.MH

[2018-03-14 22:34] Netoperz commented on #3
New keypad:

![20180314_232539](https://user-images.githubusercontent.com/16330298/37434458-edcf8f08-27df-11e8-88c4-9ab3f5c1a903.jpg)
![20180314_232553](https://user-images.githubusercontent.com/16330298/37434467-f4b09312-27df-11e8-8597-6fa82345f234.jpg)

old keypad:

![20180314_232858](https://user-images.githubusercontent.com/16330298/37434542-2ec8f15c-27e0-11e8-80da-167362501b9d.jpg)

![2018031

[2018-03-14 23:00] jpliew commented on #3
@Netoperz while I check out you data, could you do the following please?

1. Read my previous post and capture the data using the WiegandNG with PrintBinary fixed.

2. For the new keypad using Saleae, where did you capture the signal? Output of keypad or after the logic level converter at the input of ESP32?

[2018-03-14 23:04] Netoperz commented on #3
@jpliew

output of the keypad, i have forgot to test the output behind the logic level converter block on device (i ment to do that just forgot to ) i'll check the output for both keypads on the otput lines behind the logic level converter module. and post the data here if they will differ from the direct output from keypad. and will make the tests wih wiegandNG as you ask to. just give me a secon

[2018-03-14 23:44] Netoperz commented on #3
Behind the level converter

old keypad:

[old_keypad_behind_levelconverter-24 MHz, 2 M Samples [66].zip](https://github.com/jpliew/Wiegand-NG-Multi-Bit-Wiegand-Library-for-Arduino/files/1813503/old_keypad_behind_levelconverter-24.MHz.2.M.Samples.66.zip)

new keypad:

[new-keypad-behind_levelconverter_24 MHz, 2 M Samples [65].zip](https://github.com/jpliew/Wiegand-NG-Multi-Bit-Wiegand-Library-for-A

[2018-03-14 23:52] jpliew commented on #3
@Netoperz please also make sure that the signals are not noisy like the first zip file for the new keypad

![image](https://user-images.githubusercontent.com/1773147/37437010-f89b6a6a-283e-11e8-8465-6788a55aea31.png)

[2018-03-15 00:00] Netoperz commented on #3
Testing WiegandNG with that &added in sketch, on old keypad Wiegand 26

10 keys pressed from 1,2,3,4,5,6,7,8,9,0

output on terminal:
Bits=8
RAW Binary=11100001
Bits=9
RAW Binary=110100100
Bits=8
RAW Binary=11000011
Bits=9
RAW Binary=101110100
Bits=9
RAW Binary=101000101
Bits=8
RAW Binary=10010110
Bits=8
RAW Binary=10000111
Bits=9
RAW Binary=011111000
Bits=8
RAW Binary=01101001
Bits=8
RAW Binary=1

[2018-03-15 00:06] Netoperz commented on #3
Testing WiegandNG with that &added in sketch, on new keypad Wiegand 34

10 keys pressed from 1,2,3,4,5,6,7,8,9,0

Bits=8
RAW Binary=11100001
Bits=8
RAW Binary=11010010
Bits=9
RAW Binary=110000011
Bits=8
RAW Binary=10110100
Bits=10
RAW Binary=1101001101
Bits=8
RAW Binary=10010110
Bits=8
RAW Binary=10000111
Bits=9
RAW Binary=011111000
Bits=9
RAW Binary=011101001
Bits=8
RAW Binary=11110000

Tag teste

[2018-03-15 00:12] jpliew commented on #3
Hi @Netoperz we are testing inconsistency, so we need to do the same key for 10 times.

10 times key no 1 using ESP32 with WiegandNG

10 times key no 1 using Leonardo with Wiegand NG

[2018-03-15 00:20] Netoperz commented on #3
Key "5" ten times esp32
==
Bits=8
RAW Binary=10100101
==
Bits=9
RAW Binary=100100101
==
Bits=2
RAW Binary=10
Bits=6
RAW Binary=100101
==
Bits=9
RAW Binary=101100101
==
Bits=9
RAW Binary=101000101
==
Bits=9
RAW Binary=101100101
==
Bits=10
RAW Binary=1010011011
==
Bits=8
RAW Binary=10100101
==
Bits=9
RAW Binary=100100101
==
Bits=9
RAW Binary=101001011

"==" i've added here to show the phisical kay p

[2018-03-15 00:25] Netoperz commented on #3
10 times key 5 the same "new kaypad "as above on leonardo

Bits=8
RAW Binary=10100101
Bits=8
RAW Binary=10100101
Bits=8
RAW Binary=10100101
Bits=8
RAW Binary=10100101
Bits=8
RAW Binary=10100101
Bits=8
RAW Binary=10100101
Bits=8
RAW Binary=10100101
Bits=8
RAW Binary=10100101
Bits=8
RAW Binary=10100101
Bits=8
RAW Binary=10100101

[2018-03-15 00:33] Netoperz commented on #3
And here is 10 times the "new" keypad connected using level converter to leonardo:

Keypad=>level converter 5v=>3,3V=>Leonardo

Iknow that leonardo is 5V capable, but 3,3 is in tollerance level as input, so should work also, and it works:

Bits=8
RAW Binary=10100101
Bits=8
RAW Binary=10100101
Bits=8
RAW Binary=10100101
Bits=8
RAW Binary=10100101
Bits=8
RAW Binary=10100101
Bits=8
RAW Binary=1010010

[2018-03-15 00:36] jpliew commented on #3
@Netoperz could you do this with Saleae the following steps

Measure D0 and D1 using Saleae, press "5"  three times, and make sure these three key's signals are inside the zip file, attach the zip file.

I am starting to see the issue, just need more data from you.

[2018-03-15 00:36] Netoperz commented on #3
and five times the tag, hex: 8323a8efe7

Keypad=>level converter=leonardo

Bits=34
RAW Binary=0100000110010001110101000111011111
Bits=34
RAW Binary=0100000110010001110101000111011111
Bits=34
RAW Binary=0100000110010001110101000111011111
Bits=34
RAW Binary=0100000110010001110101000111011111
Bits=3
RAW Binary=000
Bits=34
RAW Binary=0100000110010001110101000111011111
Bits=1
RAW Binary=0

the data are

[2018-03-15 00:38] Netoperz commented on #3
the same tag on leonardo without level converter

Bits=34
RAW Binary=0100000110010001110101000111011111
Bits=34
RAW Binary=0100000110010001110101000111011111
Bits=34
RAW Binary=0100000110010001110101000111011111
Bits=34
RAW Binary=0100000110010001110101000111011111
Bits=34
RAW Binary=0100000110010001110101000111011111

[2018-03-15 00:43] Netoperz commented on #3
Here you go, 3 times key "5" pressed fast one after another, 3sec sample:

[3_times_key5_fast__3sec sample_24 MHz, 72 M Samples [68].zip](https://github.com/jpliew/Wiegand-NG-Multi-Bit-Wiegand-Library-for-Arduino/files/1813611/3_times_key5_fast__3sec.sample_24.MHz.72.M.Samples.68.zip)

[2018-03-15 00:48] Netoperz commented on #3
And you may want to look at the output behind the level converter , the same 3 time key "5" new keypad.

[with_levelconverter_3_times_key5_fast__3sec sample_24 MHz, 72 M Samples [68].zip](https://github.com/jpliew/Wiegand-NG-Multi-Bit-Wiegand-Library-for-Arduino/files/1813615/with_levelconverter_3_times_key5_fast__3sec.sample_24.MHz.72.M.Samples.68.zip)

[2018-03-15 00:50] jpliew commented on #3
@Netoperz I can confirm that there are noise in your circuit

![image](https://user-images.githubusercontent.com/1773147/37438502-f69a74c4-2846-11e8-8e60-84592cd9ad2a.png)

The red arrows are the good "5" but the blue circle is were the noise are.

[2018-03-15 00:52] jpliew commented on #3
Now lets do the same press "5" three times

Channel 0 & 1 to D0 and D1 before level converter

Channel 2 & 3 to D0 and D1 after level converter

[2018-03-15 00:57] Netoperz commented on #3
Esp 32
old keypad

[old_keypad_with level_converter_3_times_key5_fast__3sec sample_24 MHz, 72 M Samples [68].zip](https://github.com/jpliew/Wiegand-NG-Multi-Bit-Wiegand-Library-for-Arduino/files/1813629/old_keypad_with.level_converter_3_times_key5_fast__3sec.sample_24.MHz.72.M.Samples.68.zip)

[2018-03-15 01:04] Netoperz commented on #3
[ch0-D0_ch1-D1_before_converter____ch2-D0_ch3-D1_after_converter-----3_times_key5_fast__3sec sample_24 MHz, 72 M Samples [68].zip](https://github.com/jpliew/Wiegand-NG-Multi-Bit-Wiegand-Library-for-Arduino/files/1813639/ch0-D0_ch1-D1_before_converter____ch2-D0_ch3-D1_after_converter-----3_times_key5_fast__3sec.sample_24.MHz.72.M.Samples.68.zip)

[2018-03-15 01:08] Netoperz commented on #3
I'll take all the stuff that could cause interference from the desk. but the same problem is on the module that is "one piece device" but i'll clean up the breadboard and unmount all the modules that are not used in tests.

[2018-03-15 01:16] jpliew commented on #3
Set Saleae to capture longer about 10-15 seconds,

Run WiegandNG with ESP32

Channel 0 & 1 to D0 and D1 before level converter

Channel 2 & 3 to D0 and D1 after level converter

Keep pressing keypad "5" until you see wrong value on Arduino Terminal.

Post the zip file and the Print out of ESP32

[2018-03-15 01:26] Netoperz commented on #3
I've changed the power source for the keypad, because it was powered from the voltage converter USB5V =>12V and i'm not sure what freequency it has so possibly can cause interference. now it is powered from standard 12v AC/DC supply.
the ESP32 board is powered over USB and level converter is powered from esp's 3,3 and 5V lines.
the Saleae is connected to the keypad with 15cm jumper cables and the

[2018-03-15 01:54] Netoperz commented on #3
Bits=9
RAW Binary=101001001
Bits=8
RAW Binary=10100101
Bits=8
RAW Binary=10100101
Bits=8
RAW Binary=10100101
Bits=9
RAW Binary=101000101
Bits=8
RAW Binary=10100101
Bits=8
RAW Binary=10100101
Bits=8
RAW Binary=10100101
Bits=8
RAW Binary=10100101
Bits=8
RAW Binary=10100101
Bits=9
RAW Binary=101000101
Bits=8
RAW Binary=10100101
Bits=8
RAW Binary=10100101

[ch0-D0_ch1-D1_before_converter____ch2-D0_ch3

[2018-03-15 02:01] Netoperz commented on #3
As far as i have checked , can't see noise on the output, ant the signals before and after converter are fairly the same. What do you think about that saleae analizer and the software they provide ?

[2018-03-15 02:08] Netoperz commented on #3
ESP32, the same settings and cabling as before, but now the tag.

UID: 8323a8efe7

RAW Binary=01000001110010001110101000111011111
Bits=35
RAW Binary=01000001100100011101101000111011111
Bits=35
RAW Binary=01000001100100011101001000111011111
Bits=35
RAW Binary=01000001100100011101101000111011111
Bits=17
RAW Binary=01000001100010000
Bits=20
RAW Binary=11101010001111011111

the last two lines are from

[2018-03-15 02:14] Netoperz commented on #3
ESP32
TAG: 860FFA11
[ESP32_TAG_860FFA11_8 MHz, 120 M Samples [78].zip](https://github.com/jpliew/Wiegand-NG-Multi-Bit-Wiegand-Library-for-Arduino/files/1813779/ESP32_TAG_860FFA11_8.MHz.120.M.Samples.78.zip)

Bits=38
RAW Binary=11000001100000111111111110100000100011
Bits=36
RAW Binary=110000111000001111111111010000100011
Bits=35
RAW Binary=11000011000001111111111010000100011
Bits=34
RAW Binary=1100

[2018-03-15 02:22] jpliew commented on #3
For the "5" key, you can see that the results from ESP32 were more consistent, out of 13 presses the good read was 10 times and bad read was 3 times.

If you see clearly, there is still 3 time noise on D0

[code]

[code]
[code]
We can see clearly that once the noise are not present in anymore, the key reads were more consistent now.

The zip data looks good. Even though the logic analyzer did not

[2018-03-15 02:32] Netoperz commented on #3
OK, i've had a lot of problems with noise on wiegand. especially on long cables.
But where that noise can come from, there is nothing connected to the board...

[2018-03-15 02:39] Netoperz commented on #3
I have changed the trigger for 1ns, and the old tag.

Bits=35
RAW Binary=01000001100100011101010001110111111
Bits=17
RAW Binary=01000001100100011
Bits=17
RAW Binary=10101000111011111
Bits=35
RAW Binary=01000001100100011100101000111011111
Bits=7
RAW Binary=0100000
Bits=29
RAW Binary=01110010001110101000111011111
Bits=35
RAW Binary=01000001100100011110101000111011111
Bits=21
RAW Binary=0100000110010

[2018-03-15 02:54] jpliew commented on #3
@Netoperz there are two issues with the tags scans.

1. Data chopped into 2

2. Random extra bits picked up as noise.

Let tackle the data chopped off first.

Change the packetGap to larger value starting from 100. Perform as many scans as possible, if the data get chopped again, add 50, and repeat the test until no more chopped.

[2018-03-15 03:03] jpliew commented on #3
by the way, did you connect the GROUND of the keypad to the GROUND of ESP32 ?

[2018-03-15 03:05] Netoperz commented on #3
Yes :) i know what happends when You don't  :)

Changed in .h to 100 and flashing, i'll post the info if it helped,

[2018-03-15 03:12] jpliew commented on #3
From the photo, I can't see GROUND from the keypad to GROUND of ESP32

also could you post the link or datasheet of the level converter please?

[2018-03-15 03:17] Netoperz commented on #3
Photo was taken "while" cleaning the workspace :D but i must say you have a good eye mate :)

Changing to 100 ,150, 200 did not helped.

Ill change to shorter times. and first i'll check on the data log how long the transmission lasts, so the reading should stop 25 ms after the end of transmission ?

So you are listening and after last bit counting "gap value" and than comparing and decoding....

[2018-03-15 03:24] Netoperz commented on #3
https://www.ebay.co.uk/itm/1-5PCS-8-Channel-I2C-IIC-Logic-Level-Converter-Module-Bi-Directional-for-Arduino-/351447294920

![61rysouhtgl _sy463_](https://user-images.githubusercontent.com/16330298/37442817-a1321b6a-2808-11e8-80a4-04f18bda090e.jpg)

something like that,

[2018-03-15 03:36] jpliew commented on #3
![wiegandboard](https://user-images.githubusercontent.com/1773147/37443094-048b6be4-285e-11e8-8baa-1b76d847edff.jpg)

[2018-03-15 03:42] Netoperz commented on #3
![20180315_044034](https://user-images.githubusercontent.com/16330298/37443254-476d4336-280b-11e8-9892-b44db9eb278f.jpg)
![20180315_044006](https://user-images.githubusercontent.com/16330298/37443259-4c3e59e0-280b-11e8-9fa4-d0de906e0df1.jpg)
![20180315_043940](https://user-images.githubusercontent.com/16330298/37443263-51c7bdf2-280b-11e8-8c60-28c1504753f1.jpg)

[2018-03-15 03:45] Netoperz commented on #3
+12 and GND to power keypad, DO D1 and GND from keypad to level converter, and from level converter 3,3v 5V GND D0 and D1 to the ESP32 , USB to a lapytop that powers the ESP

[2018-03-15 04:03] Netoperz commented on #3
When I set the keypad in wiegand 26 and 4 bit data or even 8 bit data , the key presses have not much transmission errors, and till a few days ago i was not using other types of coding , and did not tested the tags, because i was writing the software for automatic dor programming only for pin input (the tags were planed later) and now i have started to test the tags, and that's when i have found t

[2018-03-15 04:05] Netoperz commented on #3
i've tested gap settings from 25 to 200 in 20, 30 40 50 60 70... in some cases it helped in let's say 95% but there always is one or two outputs every 10 that splits on two.

[2018-03-15 04:13] Netoperz commented on #3
I've marked first and last bit timestamp, and the transmission takes about 70 ms, and the gap between the tag initiations is about 1,2 sec in my case.

So if we have set in library that decoding should start let's say 100 ms after last bit recieved, we still have over a second to process 34 or 36 bits (if counting interference) . so the problem is not in the gap in my opinion. it looks like data a

[2018-03-15 04:31] Netoperz commented on #3
I have tested one more setup. I have programmed the new keypad as master standalone, and i have added the tag as active key, and added the 5 digit pin, than i have connected the second new keypad as standard wiegand  keypad there are no problems with transission decoding, also when i have changed the new kepad (slave) with old keypad it still works 100% every time, even when i have added the level

[2018-03-15 14:46] Netoperz commented on #3
I've contacted the company that makes that keypads, they should compile the actual version of firmware with shorter pulse timings, or they will provide the old version of firmware that had shorter pulse timing.

[2018-03-15 20:41] jpliew commented on #3
@Netoperz I doubt Saleae will be able to play back the data see their guide here
https://support.saleae.com/hc/en-us/articles/208667316-Using-Saleae-Logic-devices-with-third-party-pattern-generators

Now most of the noise has gone, could you please test with Leonardo the previous tests? Test before and after level converter

![image](https://user-images.githubusercontent.com/1773147/37489946-5661b

[2018-03-15 21:13] jpliew commented on #3
@Netoperz how about we make everyone's life easier? Do you think you can send me the reader? I am in Australia.

[2018-03-15 23:05] Netoperz commented on #3
Hello, i had some meetings. I'm in Poland (EU) Yes i could send the keypad.
But first i need to do some test here, and i'll wait for new firmware from the keypad vendor. That we could have same protocol settings like most the keypads have.

I'll make tests on leonardo as You asked, and post them here, roght now i'm at the meeting should be home back in 1,5 hour.

[2018-03-15 23:09] Netoperz commented on #3
Today I have got a few new boards, and i'll check the tests alredy done on them to be sure that the problems are not related with that particular board i was working till now. Hardware malufunctions may cause the problems so testing on a 5 different boards should show is it specific board that is causing the problem or they are on all the stuff i have.

[2018-03-15 23:20] Netoperz commented on #3
Just flashed the rawtest.ino on genuine Arduino uno and on terminal I have

Out of memory !
Ready...

But every input from old keypad is printed right:
Wiegand26 8bitencoding
Keys 1-0 , and tag 100% printed right without problems
on default pins

Bits=8
RAW Binary=11100001
Bits=8
RAW Binary=11010010
Bits=8
RAW Binary=11000011
Bits=8
RAW Binary=10110100
Bits=8
RAW Binary=10100101
Bits=8
RAW Binary=

[2018-03-15 23:24] jpliew commented on #3
Arduino Uno has very limited memory, please change the `allocateBits` , I think for your case just put 48 will do.

[2018-03-15 23:25] jpliew commented on #3
[code]
This is were , just change 1024 to 48

[2018-03-15 23:28] jpliew commented on #3
Please test using the new keypad + Arduino UNO

1. Before level converter
2. After level converter

[2018-03-15 23:35] Netoperz commented on #3
I'll test the new keypad in a moment, i just tested the old keypad also onthe same settings and pins on leonardo board, also Wiegand26 8bit, and 100% readings is right both with tag and key presses.

in both cases in .cpp i have GAP value set to 60 (settings left from yesterdays testing)

so we know one thing, the old keypad and Your library works fine both with uno and with leonardo without level

[2018-03-15 23:56] Netoperz commented on #3
Wiegand34 8bitcoding, new keypad
Leonardo, stright connected to new keypad, keys 1,2,3,4,5,6,7,8,9,0

Bits=8
RAW Binary=00011110
Bits=8
RAW Binary=00101101
Bits=8
RAW Binary=00111100
Bits=8
RAW Binary=01001011
Bits=8
RAW Binary=01011010
Bits=8
RAW Binary=01101001
Bits=8
RAW Binary=01111000
Bits=8
RAW Binary=10000111
Bits=8
RAW Binary=10010110
Bits=8
RAW Binary=00001111

i was repeating many times

[2018-03-15 23:59] Netoperz commented on #3
Key 1
Bits=8
RAW Binary=00011110
Bits=8
RAW Binary=00011110
Bits=8
RAW Binary=00011110
Bits=8
RAW Binary=00011110
Bits=8
RAW Binary=00011110
Bits=8
RAW Binary=00011110
Bits=8
RAW Binary=00011110
Bits=8
RAW Binary=00011110
Bits=8
RAW Binary=00011110
Bits=8
RAW Binary=00011110
Bits=8
RAW Binary=00011110
Bits=8
RAW Binary=00011110
Bits=8
RAW Binary=00011110
Bits=8
RAW Binary=00011110
Bits=8
RAW Binar

[2018-03-16 00:00] Netoperz commented on #3
So that is much better than yesterday.
On Leonardo we can accept that results as almoast perfect with both keypads (where there are small glitches, but minor)

[2018-03-16 00:05] Netoperz commented on #3
Strange thing is that on UNO and on leonardo the pins need to be inverted.

On UNO  green on pin2 white on pin3
On Leonardo white on pin2 green on pin3

I did not changed pinout in sketch and in library, While flashing just switched boards in IDE and serial port.

So why there is a difference on boards pinout ?

[2018-03-16 00:08] jpliew commented on #3
For this result
[code]

Could you tell me if that is 2 key press or 1 key press?

If can't remember, please test again, until the first error occur and do not press key anymore. Wait for 5 send and report the result.

[2018-03-16 00:08] Netoperz commented on #3
1 key press

[2018-03-16 00:13] Netoperz commented on #3
![20180316_010630](https://user-images.githubusercontent.com/16330298/37497156-d070678e-28b6-11e8-9ed1-b8beec428222.jpg)
![20180316_010646](https://user-images.githubusercontent.com/16330298/37497159-d57e17bc-28b6-11e8-96a9-35a95384e0e1.jpg)

Those are Uno and Leonardo, and they are original "Arduino" , so should be designed fine, when using the same lib and the same sketch i need to invert (chang

[2018-03-16 00:16] jpliew commented on #3
Leonardo and Uno has different interrupt vector.

Leonardo: Interrupt 0 on pin 3, Interrupt 1 on pin 2
UNO:  Interrupt 0 on pin 2, Interrupt 1 on pin 3

[2018-03-16 00:18] jpliew commented on #3
On Leonardo we can accept that results as almoast perfect with both keypads (where there are small glitches, but minor)

library code did not change, the only change on the hardware was USB5V to 12V powering the reader. USB 5V only has 500mA and most of the time has not enough current for the reader.

[2018-03-16 00:20] Netoperz commented on #3
The gap has been changed to 60

[2018-03-16 00:31] Netoperz commented on #3
50 time key "1"  new keypad connected to UNO over the voltage level converter.

Bits=8
RAW Binary=11100001
Bits=8
RAW Binary=11100001
Bits=8
RAW Binary=11100001
Bits=8
RAW Binary=11100001
Bits=8
RAW Binary=11100001
Bits=8
RAW Binary=11100001
Bits=8
RAW Binary=11100001
Bits=8
RAW Binary=11100001
Bits=8
RAW Binary=11100001
Bits=8
RAW Binary=11100001
Bits=8
RAW Binary=11100001
Bits=8
RAW Binary=11100

[2018-03-16 00:32] Netoperz commented on #3
i'll download clen files from repo and run the tests again, will just write here how they ended.

or post problems if i will see some

[2018-03-16 00:38] Netoperz commented on #3
All of this test gives US a conclusion:

1. Solid power source (best would be external for keypad)
2. USB power for MCU and level converter is fine, but powered USB hub can help.
3. No big problems on Leonardo and UNO without level converters (just stright connection BOARD <=> Keypad
4. No big problems on Leonardo an UNO with that particular voltage level converter where keypad 5v is converted to

[2018-03-16 01:21] Netoperz commented on #3
So, i have connected in place of Leonardo and UNO a clean ESP32 DEV module in programming socket.
![20180316_021510](https://user-images.githubusercontent.com/16330298/37498711-1574b782-28c0-11e8-82f9-4c1e1b50c195.jpg)

and i started pressing the key "1" and we have problems.

Bits=8
RAW Binary=11100001
Bits=8
RAW Binary=11100001
Bits=8
RAW Binary=11100001
Bits=2
RAW Binary=11
Bits=6
RAW Binary=10

[2018-03-16 01:24] jpliew commented on #3
@Netoperz please proceed with the ESP32. With Arduino UNO still connected to the output (3.3V) of level converter and ESP32 connected to the output (3.3V) of level convertor, run both UNO and ESP32 at the same time.

Check the results.

[2018-03-16 01:26] jpliew commented on #3
In the mean time please ignore the separated reading and focus in just making sure the data printed is correct.

[2018-03-16 01:29] Netoperz commented on #3
With gap 25, key press 1
ESP32

Bits=8
RAW Binary=11100001
Bits=8
RAW Binary=11100001
Bits=8
RAW Binary=11100001
Bits=8
RAW Binary=11100001
Bits=8
RAW Binary=11100001
Bits=4
RAW Binary=1110
Bits=4
RAW Binary=0001
Bits=8
RAW Binary=11100001
Bits=8
RAW Binary=11100001
Bits=8
RAW Binary=11100001
Bits=8
RAW Binary=11100001
Bits=8
RAW Binary=11100001
Bits=8
RAW Binary=11100001
Bits=8
RAW Binary=1110000

[2018-03-16 01:33] jpliew commented on #3
Now we can see that the data is correct, 1 or 2 reading, they all add up to 34 bits.

Please test both UNO and ESP32 running at the same time. Connected to both 3.3V output.

Cut and paste the results here, the result must be in sync, meaning 1st reading from UNO must be 1st reading from ESP32

[2018-03-16 01:34] Netoperz commented on #3
The data is correct, i'll run furder tests if needed 20000 times to be sure :) for now on ESP32 only problem I see is separate readings of one keypress or one tag. Now i'll connect UNO and ESP32 to the same keypad on two terminals will check the output. and i'll be checking is data integrity OK ignoring the splited output problem. and i'll post the results, just need some minutes to do as many tes

[2018-03-16 01:36] jpliew commented on #3
Please note that both UNO and ESP32 also have the separated readings. I am suspecting the `millis()` in the code, but not sure yet.

[2018-03-16 01:46] Netoperz commented on #3
You wanted something like that ?

on the left UNO on the right ESP32
Should I connect the UNO and ESP32 to the same pins on the same level converter ? or should I use another separate converter for UNO and Separate for ESP32 with common source of 5V signal from one keypad ?

![zrzut ekranu 1](https://user-images.githubusercontent.com/16330298/37499493-43b19436-28c4-11e8-9ab1-6b08fd69eef5.png)

[2018-03-16 01:50] jpliew commented on #3
Need to connect to the same level converter.

Did you notice the extra bit for one of the key press for the right result?

[2018-03-16 01:54] Netoperz commented on #3
Key press 1, as you see on ESP i have got additional bits (noise? )

![zrzut ekranu 3](https://user-images.githubusercontent.com/16330298/37499599-e601585c-28c4-11e8-8f0c-6cb08ac42697.png)

![20180316_025148](https://user-images.githubusercontent.com/16330298/37499670-45cbe568-28c5-11e8-8713-b92bb72ff514.jpg)

[2018-03-16 01:56] jpliew commented on #3
Do you have another ESP32 board?

[2018-03-16 01:56] Netoperz commented on #3
![zrzut ekranu 4](https://user-images.githubusercontent.com/16330298/37499727-983a3e94-28c5-11e8-8eff-925adfa02a5c.png)

[2018-03-16 01:56] Netoperz commented on #3
Yap i have 5 or 6 of them

[2018-03-16 02:01] jpliew commented on #3
Please use another 2x ESP32 to test. Just focus on the extra bits.

If still have extra bits, using the same setup UNO + ESP32, add small capacitor on D0 and D1,

start with 0.01uF (normally with a marking 103) , then increase and check the result, no need to post, just check the difference on UNO and ESP32.

then decrease the capacitor value, and check the difference.

Form an opinion and let me

[2018-03-16 02:15] jpliew commented on #3
Sorry, I was not clear enough. The cap must be connected at the output of level converter.

[2018-03-16 02:19] Netoperz commented on #3
Nother board, this one is from DOIT DEVKIT V1, a lot more mess as far as I can see

![zrzut ekranu 5](https://user-images.githubusercontent.com/16330298/37500277-e12ba4be-28c8-11e8-9df8-46fd96fb5b1e.png)

[2018-03-16 02:35] Netoperz commented on #3
Ok, that's why I asked about how to connect the board because in that setup we have now there will be possible interference between those two boards. I'll add the caps and check if it helped and how the output looks. we have plenty of modules for testing so even if we burn something it's not a problem :D just hope the lib will work fine on ESP32.

need a few minutes brake, my back is telling me th

[2018-03-16 03:08] Netoperz commented on #3
When added 104 caps on low level output of converter  D0-GND and D1-GND, UNO is fine, but on ESP is horrible mess.

When added 22 caps the output is the same as without them.
Sometimes +1 extra bit, and as always ones every few times data splited in two separate readings but bitcount is fine then when you add the bits (4+4 or 6+2... on ESP) on UNO at the same time everything is fine.
This is with

[2018-03-16 03:14] jpliew commented on #3
@Netoperz can you confirm that no more extra bits?  When adding caps, you should work on the ESP32 board that gave you least problem. Meaning the one that only gives you very little extra bits.

[2018-03-16 03:24] Netoperz commented on #3
I'm working on best board i think we can use, it's programming socket that do not have any extra components than the ones needed for programming, pure GPIO lines good caps for filterig shit from USB and well shielded , this one on the photo, and plus is that it's easy to change the ESP modules.
It has almoast none of extra bits. I can solder the connections to be sure that the grip and contact is

[2018-03-16 03:27] jpliew commented on #3
ok, you can go to sleep now. I will spare up sometime to check the data splits.

[2018-03-16 03:31] Netoperz commented on #3
Ok, thanx for Your time, a bit of sleep time is something that may help to think better it's 5 AM here.

And in a free time You may check the monkeyboard lib is it working fine on Leonardo, because yesterday i wanted to check how it behaves and on ESP32 it was working (with problems as we were speaking before but i had output, and on leonardo nothing on terminal.

Good night and i'll catch You lat

[2018-03-17 11:54] jpliew commented on #3
@Netoperz  could you try replacing the WiegandNG.cpp with this and try please? Let me know if it will still separate.

NOTE: This will not fix extra bits.

[code]

[2018-03-18 00:17] Netoperz commented on #3
I'll check that. and post results here.

![1586513576057334962](https://user-images.githubusercontent.com/16330298/37561232-d5ba3f46-2a49-11e8-8379-57960ac1878d.jpg)

And the raw output is not exact as the value, I assume that i should shift some bits in order to process them right ?

I'm speaking about raw output vs the actual value (HEX or DEC) ?

[2018-03-18 00:37] jpliew commented on #3
@Netoperz , this library only capture the RAW data from wiegand. As I can see the data printed by this library matches the above "Kod BIN" .

It is up to you what you wish to do with it. If you want the raw bin to be converted into ASCII code, you can do the translation in the sketch.

[2018-03-18 01:00] Netoperz commented on #3
@jpliew

So when i get the output 8 bits should split in hafl anshift positions and than convert for example to hex and dec. Shitty work :D they couldn't just use standard binary values ? :)

[2018-03-18 02:26] jpliew commented on #3
11100001 (1key)

if you do this

`data AND 0x0f`

`data + 0x30`

will get you

0x31 which is 1 in ASCII

It all depends, some people like to work with 0x01 but some like to work with 0x31. That's why programming job exist right?

[2018-03-18 04:27] Netoperz commented on #3
Still splits output, but maybe less, i'm not sure

Bits=37
RAW Binary=1111000110111100101011110111001110111
Bits=34
RAW Binary=1110001101111001010111011101110111
Bits=34
RAW Binary=1110001101111001010111011101110111
Bits=34
RAW Binary=1110001101111001010111011101110111
Bits=36
RAW Binary=111000110111100101011101110111001111
Bits=36
RAW Binary=111000110111100101011110111011110111
Bits=35
RAW Binary

[2018-03-18 04:31] jpliew commented on #3
Please make the hardware like yesterday where you get all of them 8 bit or 34 bit just separate data.

[2018-03-18 04:42] Netoperz commented on #3
The output above should be all 34bit using the same tag.
Just reading thewiegand on esp is so messy.

[2018-03-18 04:46] Netoperz commented on #3
This is 40 times the tag above

Splited output is from one reading of tag, and from time to time I get numbers after reading

Like that, this is one reading and output from that reading tag:
Bits=34
RAW Binary=1110001101111001010111011101110111
1111828
1111829
1111829

Bits=24
RAW Binary=111000110111100101011101
Bits=10
RAW Binary=1101110111
Bits=35
RAW Binary=11100011011110001010111011101110111
B

[2018-03-18 04:48] Netoperz commented on #3
the keypad is connected using the same level converter to the same board as yesterday esp32 only.

[2018-03-18 12:10] jpliew commented on #3
@Netoperz I suspect millis() in ESP32 is causing problem, I have added the following

[code]

I used official ESP32 Wrover https://www.adafruit.com/product/3384 to test with a logic level converter similar to yours (mosfet transistor).

I pressed the same key 1 and scan card for 190 times. My result was 100%. Here is my result
https://gist.github.com/jpliew/6a61c3fa8da72ea8bd863b522d59ceac

Please

[2018-03-18 17:39] exploitagency commented on #3
I can confirm this is a huge improvement in read accuracy

[2018-03-18 20:08] Netoperz commented on #3
@jpliew

I do have the same Wrover kit, what pins have you used for wiegand interface ?

[2018-03-18 20:11] jpliew commented on #3
@Netoperz I used 21 and 23 for D0 and D1 respectively.

@exploitagency what issue were you facing previously?

It is hard for me to work on the code without being able to see the problem :-(

[2018-03-18 20:31] Netoperz commented on #3
1. Till now i was using Monkeyboard Lib. for wiegand interface, it worked but not every key press was detected, and same with tags. The longer transmission the les proper outputs.

For example key presses were in 80% good, but taks only 20%.

For wiegand 26 it was better for wiegand 34 more bad (due to the transmission length i think, the more bits in transmission the more errors) same with key pr

[2018-03-18 20:31] exploitagency commented on #3
Real fast readings of 8 pin codes could sometimes have an issue.  I never considered it a huge issue.  It mainly happened when connecting two of my units together and sending real fast pin entries via software and not via an actual keypad, which is a rare scenario.  I think simply lowering the packet from 25ms to 15ms solved it.  The bigger issue was with the ESP crashing which was fixed via sdk u

[2018-03-18 20:33] exploitagency commented on #3
Sorry i did not think to use an esp8266 to tx wiegand data to the esp32.  But it may be useful.

[2018-03-18 20:46] Netoperz commented on #3
@exploitagency
Actualy your suggestions relating to the esp8266 problems are good, and you must remember that esp32 is a kind of two 8266 stick together plus some additional crap :D so as my friend said in his experience if the problem has got 20% issue on 8266 it will become 40% on esp32 🗡

I'll look in to that suggestions you have made, for now it's better to have co processor to handle the inte

[2018-03-18 20:55] exploitagency commented on #3
You can use my software to tx wiegand data as raw binary, or "human readable" pin codes on an esp8266 if you need a faster way to run tests without actually making keypresses on a keypad, that is if you know the actual timing else it will just send 40us pulse and 2ms interval

[2018-03-18 21:00] Netoperz commented on #3
@exploitagency

I'll check your testing software, because i do have Logic level analyzer that i can use for checking the actual transmission timings, my keypads are using two types of timings, 42,7us pulse and 2 ms interwal, and 96 us pulse and 2 mil intervals

Thanks for throwing a bone  :)

[2018-03-18 21:01] exploitagency commented on #3
No problem I may add 6 bit support to it soon also.

[2018-03-18 22:52] jpliew commented on #3
@Netoperz you need to be focus here. Stop looping your story, it will not help anyone reading, it will just increase confusion, we have gone through a long way.

Your first problem was noise and can be clearly seen from your logic analyzer result. Removing the USB to 12V power removed **most** (not all) of the noise.

Please take note that you problems are not the same as @exploitagency, please do

[2018-03-18 23:24] exploitagency commented on #3
Just to note because it may be useful.

ESP8266 "is" 5V "tolerant".  It uses a snap back diode plus I add a resistor in series with each of the data lines to limit current.  This means I do not use a level shifter/logic converter.  5V directly to the 3.3V pin :-D, It is sort of a hack but it works great.

[2018-03-19 00:33] Netoperz commented on #3
@jpliew
In my case without oscilloscope I cannot deny or confirm that i have noise generated in circuits.
The noise You have seen on the files was there because of bad scopes, that were not tight enough and while pressing the keypad they were moving and making small noise like pulses.
I will get oscilloscope but not now, my budget is small and for the moment i cannot afford one.

I'll test the lib

[2018-08-07 02:31] nardev opened #5 "ESP-RFID Relay Board"
hey @jpliew I didn't find any email to contact you, i just want to send you this board, so if you are interested, please contact me.

https://www.tindie.com/products/nardev/esp-rfid-relay-board-12v-in-esp8266-board/

[2018-10-01 23:47] Netoperz commented on #3
We will be backon this case soon, i've finished tasks for other parts of firmware, and the keypads were on "debug" mode for a few months on real doors, there were some glitches i need to process them

And now i'm working on PINPAD/ Keypad  design that could be wireless , and battery powered but still have viegand output and wireless wiegand output. I'll post some news after finishing testing

[2019-01-31 00:04] Netoperz commented on #3
I'm back on wiegand interface coding.
For now i might have some clues about where the problems (some of them) came from, when it comes to cabling using two lines of the same UTP cable (for example green D0 and white-green D1, +12V on orange and GND on blue resulted in interference's in transmission, when i started using blue-white as D1 the transmissions are very good. I'm testing it for some time

[2019-02-03 04:39] jpliew commented on #3
@Netoperz if you have found out that cabling is causing noise interference, please close this issue.

[2019-03-02 03:15] Netoperz commented on #3
@jpliew
Hello, i have finished some tests, so for now i may say that for 99% corrupted transmissions were caused by interference due to the cabling. using same pair of utp cables white-green and green for d0 and d1.  other pairs work better (long cabling)  so i will close this for now.
I have found second problem, some "lost" inputs are caused by wrong interrupt handling by esp32. I'm not sure is

[2019-03-02 03:15] #3 closed

[2019-09-12 17:22] ipapp opened #7 "Is this library usable with ESP-IDF v3.2, v3.3 or v4.0?"
I am looking for a Wiegand library for ESP32 using IDF framework.
Can I use this library? If not, any hint where to look further?
Best regards,
Istvan.

[2019-09-12 22:24] #7 closed, assigned to nobody

[2020-10-16 03:10] NamoDev opened #8 "Support for multiple instances of WiegandNG?"
Hello,

I recently tried this library out and would say it's perhaps one of the nicest I've seen. Works perfectly with most types of readers, including HID iCLASS SE readers :)

Right now, however, I could handle one Wiegand device on a single Arduino just fine. However, I would like to be able to handle two independent readers on the same Arduino (in this case, an Arduino Nano Every with interrup

[2020-10-16 05:15] jpliew commented on #8
Can you please try the following tests one by one

## Test 1
wg ---> reader 1 connect to 14, 15

## Test 2
wg2 ---> reader 2 connect to 17,18

## Test 3
wg ---> reader 1 connect to 14, 15
wg2 ---> reader 2 connect to 17,18
Only scan at reader 1 all the time

## Test 4
wg ---> reader 1 connect to 14, 15
wg2 ---> reader 2 connect to 17,18
Only scan at reader 2 all the time

[2020-10-16 05:22] jpliew commented on #8
let me know the result, I might need rewrite the code.

[2020-10-16 06:02] NamoDev commented on #8
@jpliew Here are the results:

# Test 1
Only reader 1 connected to pins 14/15
Reader 1 is a cheap 26-bit reader bought off Amazon

[code]

# Test 2
Only reader 2 connected to pins 17/18
Reader 2 is a HID iCLASS SE RK40 reader (Wiegand with keypad)

[code]

# Test 3
Both readers connected, only reader 1 is scanned all the time

[code]

# Test 4
Both readers connected, only reader 2 is scanned all t

[2020-10-16 09:03] jpliew commented on #8
Ok, I will work on a fix. I think this is a bug.

[2020-12-12 11:40] rassaifred commented on #8
hi,
thx for your great work, is it possible to use 3 readers in Arduino uno now?

[2020-12-12 21:50] jpliew commented on #8
@rassaifred not yet. Arduino attachInterrupt is preventing the whole the ISR in the object. There are many discussion about this for other library. I need to workout a better way to handle this.

https://www.google.com/search?client=firefox-b-d&q=arduino+attachinterrupt+in+class

[2021-03-07 03:54] jpliew commented on #8
@NamoDev @rassaifred multiple instances support https://github.com/jpliew/Multi-Reader-Wiegand-Protocol-Library-for-Arduino

[2022-07-27 14:45] ZeffeCode opened #10 "Support for esp boards"
Hello,
Is there any way to make this library work with esp boards?
I tried to upload the exemple sketch to a esp8266 and a error appeard:
"avr/io.h: No such file or directory"
I searched through the web to try and find a solution, but got nothing. Is there something I'm doing wrong?

[2022-07-27 15:13] #10 closed, assigned to nobody